
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Cairo", sans-serif;
}

.navbar{
    background-color: white !important;
}
.navbar .btn-nav{
    padding: 10px 20px;
    box-sizing: border-box;
}
/* start hero */
section{
    height: 70vh;
    background-image: url(images/1.jpg);
    background-size: cover;
    background-position: center;
     background: 
    linear-gradient(
      rgba(5, 59, 5, 0.5),
      rgba(6, 63, 6, 0.5)
    ),
    url("images/1.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    
}
.hero{
    margin-top: 15%;
    color: #fff;
}

.btn-1{
    background-color:rgb(25, 190, 25);
    padding: 6px 22px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #ffffff;
}
.btn-2{
    background-color: #ffffff;
    color: rgb(25, 190, 25);
    padding: 6px 22px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
/* end hero */

/* .container{
    
    background-color: #ffffff;
    position: relative;
}
.img-h{
    width: 300px !important;
    height: 300px !important;
    position: absolute;
    left: 10%;
    border-radius: 15px !important;
    
} */
b{
    font-size: 24px;
    color: rgb(25, 190, 25);
}
.fa-star{
    color: orange;
    font-size: 16px;
}
.detels{
    padding-right: 50px;
}


/* .manger{
    display: flex;
    gap: 10px;
} */
.card-h{
    background-color: #ffffff !important;
}
.green{
    background-color:rgb(25, 190, 25) !important ;
    border: none;
    border-radius: 20px;
}
.green-2{
    background-color: rgb(10, 63, 10) !important;
    color: #ffffff;
}
.sec-2{
    height: 50vh;
    background-image: url(images/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(
       rgba(5, 59, 5, 0.5),
      rgba(6, 63, 6, 0.5)
    ),
    url("images/2.jpg");
    background-size: cover;
    


}
.hiba-div{
    width: 370px;
    height: 210px;
    border-radius: 20px;
    color: #fff;
    /* margin-left: 35%;
    margin-top: 35px; */
}

/* .bring{
    display: flex;
    gap: 50px;
    margin-top: 45px;
    margin-left: 10%;

} */
.bring h2{
    font-size: 24px;
}
/* .bring p{
    margin-right: 12%;
} */
/* .bring-card{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10%;
    margin-top: -20px;
} */
.div-layout{
     width: 83%;
    height: 240px; 
    background-color:rgb(19, 114, 19) ;
     /* margin-top: 80px; */
    margin-left: 9%;
    border-radius: 10px;
    color: #fff;
    position: relative;
}
.div-layout h2{
    font-size: 20px;
    font-weight: bold;
}
.div-layout p{
    font-size: 12px;
}
.div-layout .hiba-7{
    width: 300px;
    height: 350px;
    /* padding-bottom: 90%; */
    position: absolute;
    bottom: 2px;
}
.btn-layout{
    padding: 8px 23px;
    border-radius: 20px;
    border: none;
    color: #fff;
    background-color:rgb(25, 190, 25) ;
    box-sizing: border-box;
    cursor: pointer;
}


.unlocing-1{
    /* width: 27%;
    height: 230px; */
    background-color:#ffffff !important ;
    /* margin-top: 10%;
    margin-left: 18%; */
    /* border: 2px solid #ffffff; */
}
.unlocing-1 h2{
    font-size: 22px;
}


.unlocing-2{
    width: 22%;
    height: 180px;
    background-color:rgb(10, 63, 10) !important ;
    color: #fff;
    margin-top: 45px;
    
}
.unlocing-2 h2{
     font-size: 22px;
}
.unlocing-2 i{
    
  border: 2px solid #fff;
  color:rgb(10, 63, 10) ;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 25px;
  text-align: center;
}

.unlocing-3{
    width: 22%;
    height: 180px;
    background-color:#ffffff !important ;
    color: #000;
    margin-top: 45px;
}
.unlocing-3 h2{
     font-size: 22px;
}
.unlocing-3 i{
    
  border: 2px solid #fff;
  color:#fff ;
  background-color:rgb(10, 63, 10) ;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
}

/*  */
/* .number-hiba{
    height: 100px;
    display: flex;
    justify-content: space-around;
    
    
    background-image: url(images/1.jpg);
    background-size: cover;
    background-position: center;
    background: 
    linear-gradient(rgba(5, 59, 5, 0.5),
      rgba(6, 63, 6, 0.5)
    ),
    url("images/1.jpg");
      background-size: cover;

}
.number-hiba div{
    display: flex;
    flex-direction: column;
} */
.number{
    height: 100px;
    display: flex;
    
    justify-content: space-evenly;
    /* align-items: center; */
    background-color:rgb(10, 63, 10) ;
    background-image: url(images/1.jpg);
    background-position: center;
    background-size: cover;
    background: 
    linear-gradient(rgba(5, 59, 5, 0.5),
      rgba(6, 63, 6, 0.5)
    ),
    url("images/1.jpg");
      background-size: cover;
    /* margin-top: 10%; */

}

.number div{
    display: flex;
    flex-direction: column;
}
.number div span{
    font-size: 22px;
    font-weight: bold;
}
/*  */


/*  */
.archt{
    min-height: 350px;
    background-color: #eee !important;
    padding: 10px;
}
.archt div .archt-name1{
    width: 45px;
    height: 45px;
}
.archt div span{
  color:rgb(7, 216, 7) ;
}

.archt-name2{
  width: 100%;
  max-width: 320px;   
  min-height: 300px;
  display: block;
  margin: 0 auto;
    /* border-radius: 10px !important; */
}
/*  */
/*  */
.marka{
    min-height: 300px;
}
/*  */

/*  */
/* .rady{
    width: 100%;
    height: 300px;
    background-image: url(images/9.jpg);
    background-position: center;
    
    background-size:cover;
    background-repeat: no-repeat;
    
} */



/* .rady div{
    width: 300px;
    display: flex;
    flex-direction: column;
     margin-left: 50%;
    padding-top: 15px; 
    color: #ffffff;
}  */


/*  */
footer{
    
    background-color:rgb(10, 63, 10) ;
    
}
.footer-1{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding-top: 30px; 
     gap: 10px; 
}

 .footer-1 div .i{
    background-color: rgb(7, 216, 7);
    border-radius: 50%;
   
}
.footer-2 h3{
  color: rgb(7, 216, 7);
} 
 .footer-2 div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-2 div button{
    padding: 10px 20px;
    color: rgb(7, 216, 7);
    border: none;
    border-radius: 20px;
}  .footer-2 div .click{
    padding: 10px 20px;
    color: #fff;
    background-color:rgb(7, 216, 7) ;
    border: none;
    border-radius: 20px;
} 
 .green-btn{
    background-color: #fff;
    color:rgb(7, 216, 7) ;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
 }
 .green-btn-2{
    background-color: rgb(7, 216, 7);
    color:#fff ;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
 }

